<div class="manage-account">
  <section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="my__account__wrapper">
            <p>Xin chào <%= current_user.name %></p>
            <ul class="title-manage-account">
              <%= link_to "Quản lý tài khoản", "#" %>
            </ul>
            <ul class="user-info">
              <li> <%= link_to "Thông tin cá nhân", "#" %></li>
              <li> <%= link_to "Sổ địa chỉ", "#" %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {method: :put}) do |f| %>

            <div class="form-group">
              <div class="field">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t("gem_devise.email"), value: current_user.email %>
              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <%= f.label :name %><br/>
                <%= f.text_field :name, autofocus: true, autocomplete: "on", class: "form-control", placeholder: t('gem_devise.name'), value: current_user.name %>
              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <%= f.label :username %><br/>
                <%= f.text_field :username, autofocus: true, autocomplete: "on", class: "form-control", placeholder: t("gem_devise.username") %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :gender %><br/>
              <%= f.select :gender, options_for_select([["Male", 1], ["Female", 2]]), class: "form-control" %>

            </div>
            <div class="form-group">
              <%= f.label :birthday %><br/>
              <%= f.date_select(:birthday, {
                  :order => [:day, :month, :year],
                  :start_year => 1920,
                  :end_year => 2013
              }, {:class => "input-mini"}) %>
            </div>

            <div class="form-group">
              <%= f.label :password %> <i><%= t("gem_devise.leave_not_change_pass") %></i><br/>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: t("gem_devise.password")%>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: t("gem_devise.pass_cf") %>
            </div>
            <div class="form-group">
              <%= f.label :current_password %> <i><%= t("gem_devise.cf_current_pass") %></i><br/>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: t("gem_devise.cf_current_pass") %>
            </div>
              <%= f.submit t("gem_devise.update"), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>