<div class="list__view mt--40">
  <div class="thumb">
    <a class="first__img" href="single-product.html"><%= image_tag product.thumbnail %></a>
    <a class="second__img animation1" href="single-product.html"><%= image_tag product.thumbnail %></a>
  </div>
  <div class="content">
    <h2><a href="single-product.html"><%= product.name %></a></h2>
    <ul class="rating d-flex">
      <li class="on"><i class="fa fa-star-o"></i></li>
      <li class="on"><i class="fa fa-star-o"></i></li>
      <li class="on"><i class="fa fa-star-o"></i></li>
      <li class="on"><i class="fa fa-star-o"></i></li>
      <li><i class="fa fa-star-o"></i></li>
      <li><i class="fa fa-star-o"></i></li>
    </ul>
    <ul class="prize__box">
      <li><%= product.price %></li>
      <li class="old__prize"><%= product.old_price %></li>
    </ul>
    <p><%= product.overview %></p>
    <ul class="cart__action d-flex">
      <li class="cart">
        <%= link_to add_product_to_cart_path(product_id: product.id, count_item: 1),method: :post, remote: true do %>
          <i class="fas fa-shopping-cart">  Add to cart</i>
        <% end %>
      </li>
    </ul>
  </div>
</div>