<div class="row row-account">
  <div class="col-lg-1">
    <div class="content"><%= image_tag product.thumbnail %></div>
  </div>

  <div class="col-lg-3">
    <div class="content"><%= product.name %></div>
  </div>

  <div class="col-lg-1">
    <div class="content">Qty: <%= line_item.count %></div>
  </div>
  <div class="col-lg-2">
    <div class="content">
      <% case bill.status %>
      <% when 0 %>
        <%= t "account.status_deliver_not_transport" %>
      <% when 1 %>
        <%= t "account.status_deliver_transport" %>
      <% when 2 %>
        <%= t "account.status_deliver_success" %>
      <% when 3 %>
        <%= t "account.status_deliver_not_success" %>
      <% when 4 %>
        <%= t "account.status_deliver_cancel" %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="content">
      <% if bill.status == 2 %>
        <%= bill.updated_at.strftime("%I:%M%p %m/%d/%Y") %>
      <% end %>
    </div>
  </div>
</div>